
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    margin: 0%; 
    padding: 0%; 
   /* border: yellow 1px solid; */  
   text-decoration: none; 
}  
header{ 
    background-color: black; 
    width: 100%; 
    height: 10vb; 
    display: flex; 
}  
header img{ 
    width: 12%; 
    height: 50%;  
    margin-top: 1.5%; 
    margin-left: 2%;

} 
header ul{ 
    color: white; 
    list-style-type: none; 
    display: flex; 
    margin-top: 2%; 
    margin-left: 45%; 
    width: 45%;
    justify-content: center;  
    font-family: "Poppins"; 
    cursor: pointer;
    order: red 1px solid;
} 
header li{  
    font-size: 13pt;
    margin-left: 10%; 
    text-transform: uppercase;
    cursor: pointer; 
    
        color: white;
} 
header li:hover{ 
    color: #FFD700; 
    
}

.ldp{ 
    background-image: url(../Assest/Background/bg.png);  
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%; 
    height: 90vb;  
    
} 
.atd{ 
    cursor: pointer;
    width: 100%; 
    height: auto; 
    text-align: center; 
    color: white; 
    margin-top: 15%;  
    
} 
.atd h3{ 
    
    font-size: 20pt;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.667));
} 
.atd h1{ 
    font-size: 55pt;
    text-transform: uppercase;  
    margin-top: -0.5%; 
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.667));
} 
.atd p{ 
    width: 55%; 
    margin-left: 24%; 
    color: rgb(215, 215, 215);
}   
ul a{ 
    width: 100%;
}
.anchor32 {
       margin-left: 0%;
}
.dtd{ 
    width: 100%; 
    height: 70vb; 
    background-color: #202020; 
    display: flex; 
}  
.dtd1{  
    color: white; 
    text-transform: uppercase; 
    text-align:  center; 
    width: 60%; 
}  
.dtd1 h1{ 
    cursor: pointer;
    margin-top: 25%; 
    font-size: 30pt; 
    font-family: cursive; 
} 
.dtd p{ 
    cursor: pointer;
     font-size: 10pt; 
     font-family: "poppins"; 
     color: gray;
}
.dtd2 img{ 
    margin-top: 17.5%; 
    filter: drop-shadow(20px 0px 10px #00000078);
}
.ctd{ 
    width: 100%; 
    height: 80vb;  
    background-color: #898888;
}
.ctd img{ 
   border: 5px solid white; 
   margin: 1%;  
   /* filter: grayscale(100%);  */
   filter: blur(1px);
}  
.ctd img:hover{    
transition-duration: 0.5s;
    filter: grayscale(0%);
    filter: blur(0px);
}
.ctdd { 
    width: 95%;
   margin-left: 3%;
  
   
}
.ctddt{ 
    width: fit-content;  
    margin-top: -2%;
    margin-left: 3.9%; 
  
} 
.ctddt img{  
    margin:0%;  
    margin-top: 1%;
} 
.fmt{ 
    background-color: black; 
    width: 100%;   
    height: 300px;
    color: white; 
    display: flex; 
}
.fd{   
    margin-top: 3%; 
    margin-left: 5%;
     width: 20%; 
   
} 
.fd h3{   
    font-family: "poppins"; 
    text-transform: uppercase;

} 
.fd p{ 
    font-family: "poppins";
} 
.gd ul{ 
    list-style: none; 
    font-family: "poppins";   
    margin-top: 5%;  
    margin-left: 5%; 
    
}
.face{ 
    width: 40%; 

}
.insta{ 
    width: 70%;   
    margin-top: 10%;
}  
.youtube{ 
    width: 80%;   
    margin-top: 10%;

} 
.cnt{ 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    /* border: white 5px solid;  */
    width: fit-content;
}
.ult{ 
    list-style-type: none; 
    font-family: "poppins"; 
} 
.pd{ 
    margin-left: -2%;
}
.phone{
     width: 20px; 
     height: 20px; 
     margin-left: 2%;
}  
.con{ 
    display: flex; 
    margin-top: 0; 
}
.one{ 
    margin-top: 8%; 
}  
.con p{ 
    margin-left: 3%;
} 
.crt{ 
    width: 100%;   
    height: auto;
    margin-top: -3.5%; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white;
   font-family: "poppins"; 

 } 
 .crt a{
    text-decoration: none; 
    color: #ffbf00; 
filter: drop-shadow(3px 3px  10px #ffbf00);
 } 
